@using GDTour.Models.Email
@model GDTour.Models.Email.PriceAlertEmailViewModel

@{
    ViewData["EmailTitle"] = $"{Model.GameName} is on sale!";
}
<div style="display: flex; justify-content: center">
    <img src="@Model.GameHeaderImageUrl" alt="Game Header Image"/>
</div>

<p>Hi @Model.UserName,</p>

<p>
    We're excited to let you know that @Model.GameName is currently on sale for @string.Format("{0:C}", Model.FinalPrice), which is less than the price threshold you set at @string.Format("{0:C}", Model.PriceThreshold). Please click the button below to purchase the game at your earliest convenience.
</p>


<!-- Purchase button -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="border-radius: 3px;" bgcolor="#539be2">
                        <a href="@Model.GameUrl" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #539be2; display: inline-block;">
                            Purchase the game
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>Best,</p>
<p>The GSTour Team</p>